<div class="container">
  <div>
    <div class="row" *ngIf="!noContent">
      <app-movie
        [movies]="movies"
        [showDeleteBtn]="showDeleteBtn"
        [showDeleteBtn]="showDeleteBtn"
      ></app-movie>
    </div>

    <div *ngIf="noContent === true">
      <div class="row">
        <div class="col-12 text-center">
          <h5>No Favourites</h5>
          <img src="../assets/no-img.png" alt="No Favourites" />
          <p class="lead">
            You do not have any favourites at the moment, Mark your favourite
            movies in the homepage by clicking this: <i class="fa fa-heart"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
