<div class="container">
  <div>
    <div *ngIf="favourites.length > 0">
      <app-movie [movies]="favourites"></app-movie>
    </div>

    <div *ngIf="favourites.length === 0">
      <div class="row">
        <div class="col-12 text-center">
          <h5>No Favourites</h5>
          <img src="../assets/no-img.png" alt="No Favourites" />
          <p class="lead">
            You do not have any favourites at the moment, Mark your favourite
            movies in the homepage by clicking this: <i class="fa fa-heart"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
