/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

* {
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 80px;
  line-height: 1.7;
  background: #e2e3e4;
}
