<div class="container">
  <div class="row" #scollingElement>
    <div class="col-md-6 offset-md-3">
      <form
        class="form-inline"
        #movieSearch="ngForm"
        (ngSubmit)="search(movieSearch)"
      >
        <div class="form-group mx-sm-3 mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Enter a movie title"
            ngModel
            name="movieTitle"
          />
        </div>
        <button class="btn btn-success" type="submit">
          Search
          <i class="fa fa-search text-light"></i>
        </button>
      </form>
    </div>
  </div>

  <div>
    <app-movie
      [movies]="movies"
      [error]="error"
      [showDeleteBtn]="showDeleteBtn"
      [showFavoriteBtn]="showFavoriteBtn"
    ></app-movie>
  </div>
  <br />
  <div *ngIf="!error" class="text-center py-2">
    <button (click)="getNextPageData()">
      See more...
    </button>
  </div>
</div>
